@font-face {
    font-family: Formula1;
    src: url("fonts/Formula1-Regular.otf");
}

@font-face {
    font-family: Formula1;
    src: url("fonts/Formula1-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: Formula1Wide;
    src: url("fonts/Formula1-Wide.otf");
}

@font-face {
    font-family: TitilliumWeb;
    src: url("fonts/TitilliumWeb-Regular.ttf");
}

/* @media screen and (min-width: 2248px) and (min-height: 1152px) {
    .scaleable-wrapper {
       transform: scale(1.74);   
    }

    .layout-design {
        position: relative;
        left: 71%;
        top: 71%;
        transform: translate(-50%, -50%);
        transform-origin: center center;
    }
} */

/* in-between does not really want to work... */

/* @media screen and (min-width: 1680px) and (max-width: 2247px) and (min-height: 1050px) and (max-height: 1151px){
    .scaleable-wrapper {
       transform: scale(1.4);   
    }

    .layout-design {
        position: relative;
        left: 70%;
        top: 66%;
        transform: translate(-50%, -50%);
        transform-origin: center center;
    }
} */

/* @media screen and (min-width: 1680px) and (max-width: 2047px) and (min-height: 1050px) and (max-height: 1151px){
    .scaleable-wrapper {
       transform: scale(1.3);   
    }

    .layout-design {
        position: relative;
        left: 61%;
        top: 60%;
        transform: translate(-50%, -50%);
        transform-origin: center center;
    }
} */

/* @media screen and (min-width: 1px) and (max-width: 1679px) and (min-height: 1px) and (max-height: 1049px){
    .scaleable-wrapper {
       transform: scale(1.18);   
    }

    .layout-design {
        position: relative;
        left: 57%;
        top: 60%;
        transform: translate(-50%, -50%);
        transform-origin: center center;
    }
} */

body {
    background-color: #101017;
    font-family: Formula1;
} 

.layout-design {
    width: 1300px;
    height: 750px;
}

.scaleable-wrapper {
    resize: both;
    position: relative;
    height: 750px;
    width: 1300px;
}

h1, h2, h3, p{
    font-family: Formula1;
    color: #ffffff;
    opacity: 0.9;
    font-weight: 500;
    font-size: 18px;
}

a {
    text-decoration: underline;
}

#sidebar {
    width: 280px;
    height: 100%;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 0px;
    background-color: #101017;
    float: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: 1px solid;
    border-color:#20202D;
}

#logo {
    height: 24px;
}

#logo img:nth-child(1){
    height: 24px;
    float: left;
}

#logo img:nth-child(2){
    height: 10px;
    margin-top:14px;
}

#user img {
    height: 115px;
    width: 115px;
    margin-top: 42px;
    margin-bottom: 16px;
    border-radius: 60px;
}

#user-small {
    padding-top: 16px;
}

#user-small img {
    height: 32px;
    width: 32px;
    border-radius: 32px;
    float:left;
    margin-right: 29px;
}

#user p {
    line-height: 22px;
    margin-bottom: 28px;
}

#user-small p {
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    opacity: 0.9;
    font-family: Formula1;
}

.overall-stat {
    height: 50px;
    margin-bottom: 24px;
}

.overall-stat p {
    font-size: 12px;
    line-height: 14px;
}

.overall-stat b {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    opacity: 0.9;
}

.overall-stat img {
    height: 18px;
    filter: invert(64%) sepia(5%) saturate(112%) hue-rotate(202deg) brightness(98%) contrast(92%);
    margin-left: 5px;
    margin-top:-5px;
}

#description p {
    font-family: TitilliumWeb;
    font-size: 12px;
    line-height: 18px;
    padding-right: 24px;
}

.navigation-link a{
    font-family: Formula1;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 32px;
    display: block;
}

.navigation-link img {
    height: 18px;
    width: 18px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 3px;
    margin-right: 29px;
    filter: invert(64%) sepia(5%) saturate(112%) hue-rotate(202deg) brightness(98%) contrast(92%);
}

#session-info {
    height: 66px;
    margin-top: 100px;
    margin-bottom: 54px;
}

#session-info h2 {
    font-family: Formula1Wide;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom:0px;
}

#session-info p {
    font-family: Formula1;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.9;
    margin-top: 6px;
}

#menu {
    height: 402px;
}

#link-wrapper {
    height: 18px;
    width: 263px;
    margin-bottom: 32px;
}

#link-wrapper a{
    float: left;
}

#link-wrapper img:nth-child(2){
    float: right;
    filter: invert(40%) sepia(80%) saturate(7486%) hue-rotate(357deg) brightness(105%) contrast(117%);
    visibility:hidden;
    height: 38px;
    margin-top: -10px;
    margin-right: 0px !important;
}

.navigation-link-current-image{
    visibility: visible !important;
}

#homepage img[alt="Back"] { 
    filter: invert(40%) sepia(80%) saturate(7486%) hue-rotate(357deg) brightness(105%) contrast(117%);
}

#menu .navigation-link a {
    text-decoration: none !important;
}

#menu .navigation-link a:hover {
    text-decoration: underline !important;
}

.navigation-link #link-wrapper:first-child a, .navigation-link-current {
    font-weight: bold !important;
    color: #ffffff !important;
    opacity: 0.9;
}

.navigation-link a:hover {
    color: rgba(255, 255, 255, 1);
}

#navigation-footer {
    height: 80px;
}

#navigation-footer p, i {
    font-family: Titillium Web;
    font-size: 10px;
    line-height: 0px;
    color: rgba(255, 255, 255, 0.6);
}

#navigation-footer a {
    color: rgba(255, 255, 255, 0.6);
}

#navigation-footer a img {
    color: rgba(255, 255, 255, 0.6);
    height: 10px;
}

#navigation-footer a:hover {
    color: rgba(255, 255, 255, 1);
}

#header {
    width: 1016px;
    height: 198px;
    padding: 19px 0px;
    margin-left: 261px;
    margin-bottom: 19px;
    float: left;
}

#header #session-indicator, #session-indicator2 {
    visibility: hidden;
}

#header #session-indicator h1{
    color: white !important;
    font-family: Formula1 !important;
}

#scroll-background {
    background-color: #101017;
    height: 20px;
    position:fixed;
    z-index:1;
    display:block;
}

#scroll-background span{
    display: block;
    width: 1016px;
}

#header-session {
    width: 1016px;
    height: 254px;
    padding-bottom: 19px;
    padding-left: 19px;
    margin-left: 261px;
    margin-bottom: 19px;
    float: left;
    background-color: #101017;
    z-index:1;
}

#header-session #session-indicator {
    height: 53px;
    visibility: hidden;
}

#header #title-wrapper {
    width: 228px;
    height: 178px;
    float: left;
    margin-left: 48px;
}

#title-wrapper-top, #title-wrapper-bottom {
    width: 252px;
    float: left;
}

#title-wrapper-bottom {
    padding-top: 15px;
}

#header-top-row {
    width: 1020px;
    height: 100px;
    float: left;
    padding-left: 24px;
    position: fixed;
    background-color: #101017;
    z-index:1;
    top: 20px;
}

#header-bottom-row {
    width: 1016px;
    height: 200px;
    float: left;
    margin-left: 24px;
    margin-top: 105px;
    z-index:0
}

#title-wrapper h1, #header-top-row #title-wrapper-top h1 {
    font-family: Formula1Wide;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    opacity: 0.9;
}

#header #global-stats-wrapper {
    height: 178px;
    width: 740px;
    float: left;
}

#header-session #global-stats-wrapper {
    height: 108px;
    width: 740px;
    float: left;
}

#temperature-div {
    width: 90px !important;
    float: left;
}

#temperature-div:last-of-type {
    float: left;
}

#header-wrapper #header #global-stats-wrapper div:nth-child(-n+3){
    background-image: url('images/global_stats_background.svg');
    margin-bottom: 13px;
}

#header-wrapper #header-session #header-top-row #global-stats-wrapper:nth-child(2) div:nth-child(-n+3){
    background-image: url('images/global_stats_background.svg');
    margin-bottom: 13px;
}

#header-wrapper #header-session #header-bottom-row #global-stats-wrapper > div:nth-last-child(-n+3){
    padding-top: 0px;
}

#global-stats-wrapper :nth-child(3n+3) { 
    margin-right: 0; 
}

.global-stats {
    width: 236px;
    height: 89px;
    padding-top: 18px;
    padding-left: 20px;
    margin-right: 16px;
    float: left;
}

.global-stats p {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 10px;
}

.global-stats h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    opacity: 0.9;
}

.global-stats h3 {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.9;
}

#page-content-wrapper{
    height: 613px;
}

#page-content {
    margin-left: 280px;
    width: 1016px;
    float: left;
    background: #101017;
    border-radius: 8px;
    padding: 24px; 
    margin-bottom: 12px;
}

#page-content p, .current-page {
    color: #ffffff !important;
    opacity: 0.9;
}

.previous-next-container {
    background-color: #1F1D29 !important;
}

#subtitle-wrapper h1 {
    font-family: Formula1Wide;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    opacity: 0.9;
}

#types-wrapper {
    height: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#types-wrapper button {
    font-family: Formula1;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    opacity: 0.54;
    float: left;
    margin-right: 32px;
    border: 0;
    background-color: #101017;
    outline: none;
}

#types-wrapper button:first-child{
    padding-left: 0px;
}

#types-wrapper .to-choose:hover{
    text-decoration: underline;
}

#types-wrapper :last-child { 
    margin-right: 0; 
}

#types-wrapper .active {
    opacity: 1;
    text-decoration: underline;
}

#types-wrapper .inactive {
    opacity: 0.32;
}

#types-wrapper .inactive:hover {
    cursor: default;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner tr:nth-child(n+1):hover {
    background-color: #101017 !important;
}

#datatable-paging-page-count tr:nth-child(n+2):hover, #datatable-2-paging-page-count tr:nth-child(n+2):hover {
    background-color: #1F1D29 !important;
    cursor: pointer;
}

#datatable-3-paging-page-count > div.previous-next-container > div > input {
    color: white !important;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td {
    background: none !important;
}

[id^=datatable-] table tr td {
    border: 0 !important;
}

[id^=datatable-] table {
    margin-left: 14px;
    width: 984px !important;
    border-collapse: collapse;
}

[id^=datatable-] table tr {
    border-bottom: 7px solid #101017;
}

[id^=datatable-] table tr td:first{
    border-bottom: 5px solid #101017;
}

[id^=datatable-] td {
    font-family: Formula1;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    opacity: 0.9;
    height: 22px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-bottom: 4px !important;
    margin-top: 4px !important;
}

#datatable-paging-page-count tr:nth-child(n) td:nth-child(2) div {
    margin-left:10px;
}

[id^=datatable-] th:nth-child(2) div {
    margin-left:10px;
}

[id^=datatable-] th{
    font-family: Formula1;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff;
    opacity: 0.6;
    background-color: #101017 !important;
}

[id^=datatable-] th, .previous-next-container {
    font-family: Formula1;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff !important;
    opacity: 0.6;
}

.dash-table-container {
    margin-bottom: 10px;
}

.dash-table-container .previous-next-container input.current-page {
    font-family: Formula1;
    font-size: 10px !important;
    line-height: 12px;
    color: #ffffff !important;
    opacity: 0.6;
    background-color: #1F1D29 !important;
}

[id^=datatable-] tr:nth-child(n+1) td:nth-child(-n+1) {
    font-family: Formula1;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    opacity: 0.6;
}

.cell-markdown p{
    font-family: Formula1;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    opacity: 0.9;
    margin: 0;
}

#header-session .spinner-border, #header-session .text-danger {
    width: 20px !important;
    height: 20px !important;
    float: left !important;
    color: #FF1E00 !important;
    margin-right: 10px;
}